* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;

}
.instagramcontainer{
    height: 100vh;
    width: 100%;

}
.left{
    height: 100%;
    width: 20%;
    background-color:#FFFFFF;
    position: fixed;
}

.instadiv{
    height: 5vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
}
.instadiv i{
    font-size: 25px;
    width: 20px;
    height: 20px;
    padding-right: 30px;
}

.imagesection{
    height: 180px;
    width: 100%;
    /* background-color: bisque; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.imagesection h4{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.imagesection p{
    text-align: center;
}
.image{
    height: 100px;
    width: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   /* padding-left: 70px; */
}
.image img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    padding: 10px;
}

.info{
    height: 50px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    font-size: 13px;
    gap: 4px;
    
    padding: 4px;
    text-align: center;
    justify-content: center;
}
.hobbies{
    height: 50px;
    width: 100%;
    /* background-color: #E40976; */
    margin-left: 30px;
}
.hobbies p{
    height: 25px;
    width: 100%;
    /* background-color: #F6F6F6; */
    margin-top: 5px;
}

.hightlights{
    margin-top: 60px;
    margin-left: 10px;
    height: 110px;
    width: 40vh;
    /* background-color: #e0d4da; */
    position: fixed;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    /* flex-direction: column; */
    flex-shrink: 0;
}

.head{   
    /* gap: 20px; */
    padding-top: px;
    height: 100px;
    width: 400px;
    /* background-color: #EA4346; */
    display: flex;
    flex-direction: column;
}
.stor{
    margin-top: 30px;
    height: 50%;
    width: 75px;
    /* background-color: palegreen; */
    display: flex;
    padding: 1%;

    flex-direction: column;
    border-radius: 50%;
    border: 3px solid #E40976;
}
.head p{
    height: 50px;
    width: 80px;
    padding: 4px;
    display: flex;
    justify-content: center;

}
.stor img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.mainsection{
    height: 40vh;
    width: 100wh;
    /* background-color: #EA4346; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding-top: 0px;
    font-size: 18px;
}

.feed{
    width: 10wh;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    margin-top: 180px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
}

.feed i{
    width: 10wh;
    height: 20px;
    /* background-color: #EA4346; */
    display: flex;
    padding-right: 10px;
   
}
.explore{
    width: 10wh;
    height: 10vh;
    /* background-color: rgb(117, 146, 146); */
    display: flex;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    margin-top: 6px;
    padding-top: 15px;
}
.explore i{
    width: 10wh;
    height: 20px;
    /* background-color: #EA4346; */
    display: flex;
    padding-right: 10px;
}
.reels{
    width: 10wh;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    padding: 8px;
    padding-top: 15px;
    padding-left: 40px;
     text-align: center;
     margin-top: px;
}
.reels i{
    width: 10wh;
    height: 20px;
    /* background-color: #EA4346; */
    display: flex;
    padding-right: 10px;
}

.setting{
    width: 10wh;
    height: 10vh;
    /* background-color: rgb(93, 100, 100); */
    display: flex;
    padding: 0px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: center;
    margin-top: 6px;
}
.setting i{
    width: 10wh;
    height: 20px;
    /* background-color: #EA4346; */
    display: flex;
    padding-right: 10px;
}

.logout{
    width: 10wh;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    padding: 10px;
    padding-top: 15px;
    padding-left: 40px;
    text-align: center;
    margin-top: 20px;
}
.logout i{
    width: 10wh;
    height: 20px;
    /* background-color: #EA4346; */
    display: flex;
    padding-right: 10px;
    
}

.right{
    height: 100%;
    width: 80%;
    background-color:#F6F6F6;
    position: fixed;
    right: 0;
    /* overflow: hidden; */
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}
.topnav{
    height: 10vh;
    width: 100%;
    background-color:#F6F6F6 ;
    position: fixed;
    display: flex;
}
.nav{
    height: 100%;
    width: 100vh;
   
}
.topnavright{
    width: calc(80%/2);
  
}
.topnavleft{
    width: calc(80%/2);
    display: flex;
}
.bottomnav{
    height: 18vh;
    width: 180vh;
    background-color: #F6F6F6;
    position: fixed;
    top: 10%;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.heading h4{
    height: 20px;
    width: 100vh;

    position: fixed;
}
.storycontainer{
    padding-top: 17px;
    height: 100vh;
    width: 400px;
    /* background-color: #EA4346; */
    display: flex;
    gap: 20px;
}

.stories{
    height: 90%;
    width: 80px;
    /* background-color: #FFFFFF; */
    /* border-radius: 50%;
    border: 2px solid #E40976; */
  
}
.stories p{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.story{
    height: 90%;
    width: 100%;
    /* background-color: palegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #E40976;
}
.story img{
    height: 75px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.topnavleft>input{
    width: 200px;
    margin: 20px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
}
.topnavright{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 60px;
}
.topnavright button{
   padding: 10px;
   border-radius: 20px;
   font-size: 15px;
   border: none;
   background-color: #EA4346; 
}

.total{
    width: 100%;
    height: 100vh;
    /* background-color: #EA4346; */
}
.totalheading{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    margin-left: 40px;
    /* background-color: #261dc9; */
    margin-top: 28vh; 
    font-size: larger;
}
.posts{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    /* background-color: #b65555; */
    display: flex;
    gap: 10px;
    margin-left: 30px;
    border-radius: 20px;
}
.post1st{
    width: 350px;
    height: 47vh;
    /* background-color: aqua; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.scroll{
    width: 300px;
    height: 320px;
    background-color:#FFFFFF;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}
.box1{
    width: 100%;
    height: 60px;
    /* background-color: #a79797; */
    display: flex;
    border-radius: 30px;
}
.box1 img{
    width: 50px;
    height: 85%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 7px;
}
.boxheading{
    height: 50px;
    width: 100px;
    /* background-color: beige; */
    margin-top: 10px;
}
.box1 i{
    /* color: #F6F6F6; */
    margin-left: 100px;
    font-size: large;
    margin-top: 20px;
    text-align: end;
    display: flex;
}
.box2{
    width: 100%;
    height: 200px;
    /* background-color: #dcbdbe; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.box2 img{
    width: 95%;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}
.box3{
    width: 100%;
    height: 100px;
    /* background-color: #EA4346; */
    display: flex;
    flex-direction: column;
}
.icons{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
}
.like{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.comment{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.share{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.save{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 130px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.likedby{
    margin: 10px;
}
.post2nd{
    width: 450px;
    height: 60vh;
    /* background-color: rgb(125, 180, 180); */
    border-radius: 20px;
}

.scrolls{
    width: 450px;
    height: 420px;
    background-color:#FFFFFF;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;   
}
.box1s{
    width: 100%;
    height: 60px;
    /* background-color: #a79797; */
    display: flex;
    border-radius: 30px;
    gap: 10px;
}
.box1s img{
    width: 50px;
    height: 85%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 7px;
}
.boxheadings{
    height: 50px;
    width: 100px;
    /* background-color: beige; */
    margin-top: 10px;
}
.box1s i{
    /* color: #F6F6F6; */
    margin-left: 100px;
    font-size: large;
    margin-top: 20px;
    text-align: end;
    display: flex;
    padding-left: 130px;
}
.box2s{
    width: 100%;
    height: 300px;
    /* background-color: #dcbdbe; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.box2s img{
    width: 95%;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}
.box3s{
    width: 100%;
    height: 100px;
    /* background-color: #EA4346; */
    display: flex;
    flex-direction: column;
}
.iconss{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
}
.likes{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.comments{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.shares{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.saves{
    width: 10%;
    height: 30px;
    /* background-color: darkgoldenrod; */
    margin-left: 230px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.likedbys{
    margin: 10px;
}
.post2nds{
    width: 450px;
    height: 60vh;
    background-color: rgb(125, 180, 180);
    border-radius: 20px;
}
.post3rds{
    width: 350px;
    height: 60vh;
    /* background-color: aqua; */
    border-radius: 20px;
}

.post3rd{
    width: 350px;
    height: 60vh;
    /* background-color: aqua; */
    border-radius: 20px;

}
